* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

$color-white: hsl(0, 0%, 100%);
$color-lgraylish: hsl(270, 3%, 87%);
$color-graylish: hsl(279, 6%, 55%);
$color-verydark: hsl(278, 68%, 11%);

@mixin card-sizes {
	position: absolute;
	height: 10em;
	width: 18em;
	background-repeat: no-repeat;
	background-size: contain;
	@content;
}

html {
	font-size: 18px;
}

.card__section {
	position: relative;
	height: 33vh;
	background-image: url(../images/bg-main-mobile.png);
	background-repeat: no-repeat;
	background-size: cover;

	&__card-front {
		@include card-sizes;
		left: 1.4em;
		top: 8.9em;
		background-image: url(../images/bg-card-front.png);
		z-index: 3;

		.card-icon {
			margin-left: 1em;
			margin-top: 1em;
		}

		.card-number {
			text-align: center;
			margin-top: 3em;
			font-size: 1.2em;
			color: $color-white;
			letter-spacing: 0.3em;
		}
	}

	&__card-back {
		@include card-sizes;
		left: 5em;
		top: 2em;
		background-image: url(../images/bg-card-back.png);

		.cvc-number {
			position: absolute;
			left: 14em;
			top: 4.3em;
			color: $color-white;
		}
	}
}
